
/*VueJS css page*/

p, li, h1, h2 {
    color: greenyellow;
}

table {
    color: greenyellow;
    border: 2px solid greenyellow;
    padding: 5px;
    margin: 10px 0px;
}

.container {
    color: greenyellow;
    border: 2px solid greenyellow;
    margin: 20px 0px;
    
}

.col {
    color: greenyellow;
    border: 2px solid greenyellow;
    text-align: center;
}

th {
    text-align: center;
}
td {
    text-align: center;
    padding: 5px;
}

#main-title {
    color: greenyellow;
    width: fit-content;
    border: 2px solid greenyellow;
}

a[href]:hover {
    color:#10655d;
    transition: color .5s;
}
a[href] {
    color: greenyellow;
}

