extends layout

block content
  title = "My shitpost page"
  h1#main-title="Saiberp0nk Main page"
  p Some prototype of a game.

  p The main goal of this prototype is
  ul 
    li To experiment with web technologies
    li Understand the interaction of back-end and front-end
    li Have some fun building a game for my habibis
  h2 Logos
  p Short logo
  img(src="images/logo.png", alt="My glorious logo")
  p Extended logo
  img(src="images/Sponk.png", alt="My glorious logo")
  // Bootstrap container
  .container
    .row
      .col
        p
          a(href="page_1.html") Try to go there ?
      .col
        p
          a(href="script") Script
      .col
        p
          a(href="#top") Back to the top !