
/*First css page*/
html {
    font-size: 20px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: 'Oswald', sans-serif; 
}

p, li, h1, h2 {
    color: greenyellow;
}
#main-title {
    color: greenyellow;
    width: fit-content;
    border: 2px solid greenyellow;
}
#top {
    background-color: black
}
a[href]:hover {
    color:#10655d;
    transition: color .5s;
}
a[href] {
    color: greenyellow;
}

